@import "../../styles/colors.scss";

.button {
  all: unset;
  cursor: pointer;
  padding: 15px 30px;
  color: $light-blue;
  border: 1px solid $light-blue;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  height: fit-content;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  &:hover {
    color: $light-background;
    background-color: $light-blue;
  }
}
